---
import LargeCategoryLink from '@/components/LargeCategoryLink.jsx';
import { largeCategories } from '@/constants/largeCategories';
---

<section class="z-10 h-screen relative">
  {
    largeCategories.map(({ title, src, alt }) => (
      <LargeCategoryLink client:idle title={title} src={src} alt={alt} />
    ))
  }
</section>
