---
import Button from '@/components/Button.astro';
---

<section class="w-screen">
  <div id='container' class="flex items-center min-h-screen">
    <div class="relative z-10 mb-[30%]">
      <h2 class="my-16 font-barlow text-9xl -translate-x-2">
        Capturing Nature's Masterpieces
      </h2>
      <Button white={false} path="/gallery">View gallery</Button>
    </div>
    <img
      src="/images/landing-page-bg.webp"
      alt="mountains"
      class="fixed top-0 left-0 z-0 w-screen h-screen object-cover"
    />
  </div>
</section>
