---
const { white, path } = Astro.props;
---

<a href={path}>
  <div
    class={`rounded-md inline-block py-4 px-8 shadow font-medium text-2xl cursor-pointer ${
      white
        ? 'bg-light text-lg w-full flex justify-center hover:bg-light/80'
        : 'bg-glass/30 backdrop-blur-md hover:bg-glass/60'
    }`}>
    <slot />
  </div>
</a>
