---
const { src, title, alt } = Astro.props;
---

<div
  class="relative flex justify-end cursor-pointer h-1/4 group overflow-y-clip"
>
  <div
    class="z-10 flex items-center w-1/2 h-full shadow bg-glass/30 backdrop-blur-md"
  >
    <p class="text-6xl max-w-[43.75rem] font-barlow ml-24">{title}</p>
    <img
      src="/icons/arrow-up-right.svg"
      alt="arrow icon"
      class="mt-2 ml-4 transition-opacity duration-300 opacity-0 group-hover:opacity-100 h-8 w-8"
    />
  </div>
  <div class="absolute">
    <img
      src={src}
      alt={alt}
      class="object-cover transition-transform duration-1000 ease-out group-hover:scale-110"
    />
  </div>
</div>
