---
import { Lenis } from '@studio-freight/react-lenis';
import Header from '@/components/Header.jsx';
---

<html lang="en" class="motion-reduce:scroll-auto">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/icons/favicon.ico?" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <!-- <meta
      name="description"
      content="Don't forget to fill me in"
    />
    <meta property="og:title" content="T & T Photography" />
    <meta
      property="og:description"
      content="Don't forget to fill me in"
    />
    <meta property="og:image" content="/images/og-logo.png" /> -->
    <title>T & T Photography</title>
  </head>

  <body>
    <Lenis client:load root options={{ smoothWheel: true, smoothTouch: false }}>
      <Header client:only="react" />
      <div class="relative">
        <slot />
      </div>
    </Lenis>
  </body>
</html>
